extend base

block content 
    if errorMessage 
        span.error-span=errorMessage
    form(method="POST")
        input(placeholder='ID',name='username' , type='text',required)
        input(placeholder='Password',name='password', type='password',required)
        input(type='submit',value='Login')
        include partials/social-login
    div.auth-switch
        span Don't have an account? 
        a(href='/join') Create one now &rarr;

block scripts 
    //- script(src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js" integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous")
    