header
    div.logo-container
        div.header__bars
            i.fa-solid.fa-bars.fa-xl 
        a(href='/').header__logo
            img(src='/public/WeTube.png')
    nav
        ul 
            li
                a(href='/search')
                    i.fas.fa-search
            if loggedIn
                li 
                    a(href="/videos/upload") Upload video
                li 
                    a(href='/videos/youtube-upload') Upload to YouTube
                li 
                    a(href="/users/edit") Edit Profile
                li 
                    a(href="/users/logout") Log Out
                li 
                    a(href=`/users/${loggedInUser._id}`) 
                        img.header__avatar(src=loggedInUser.avatarUrl)
                            
            else
                li 
                    a(href="/login") Login
                li
                    a(href='/join').header__btn Join
