div.social-login
    a(href='/users/github/start')
        img(src='/public/github.png')
    a(href='/users/kakao/start')
        img(src='/public/kakao.jpg')
    a(href='/users/naver/start')
        img(src='/public/naver.png')
    //- a(href='#')
    //-     img(src='/public/google.png')