div.social-login
    a(href='/users/github/start').social__btn--github
        img(src='/public/github.png')
    a(href='/users/kakao/start')
        img(src='/public/kakao.jpg')
    a(href='#')
        img(src='/public/naver.png')
    a(href='#')
        img(src='/public/google.png')